src/main/app/json-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="${http.port}" basePath="/json" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTPS_JSON_REQUEST" protocol="HTTPS" host="jsonplaceholder.typicode.com" port="443" basePath="/" doc:name="HTTP Request Configuration"/>
    
    
    <!-- ************ -->
    <context:property-placeholder location="${mule.env}.properties" />
    <global-property name="example" value="test"/>
    
    <!-- ************ -->
    <flow name="version-app">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/version" allowedMethods="GET" doc:name="HTTP"/>
        <set-payload value="${mule.env}" doc:name="Set Payload"/>
    </flow>
    
    <flow name="json-app">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" allowedMethods="GET" doc:name="HTTP"/>
        <http:request config-ref="HTTPS_JSON_REQUEST" path="/${json.placeholder.url}" method="GET" doc:name="HTTPS"/>
        <set-payload value="#[message.payload]" doc:name="Set Payload"/>
    </flow>
<!--     <flow name="myProject_flow1">
    		<logger message="${propertyFromFile}" doc:name="System Property Set in Property File"/>
	</flow> -->
</mule>
